body{
    background-image: url(Fondo2.png);
    background-size: 100%;
    background-repeat:none ;
}
.container-log{
    position: relative;
    margin-left: 37%;
    margin-top: 18%;
    
    ;
}

.container_input{
    border: 20px;
    border-radius: 2px;
    padding: 3px;
    padding-left: 15px;
    width: 40%;
    height: 40px;
    font-family: Poppins;
    font-size: 14px;
    font-family: 'Sarabun', sans-serif;
    
}

#boton1{
    font-family: Roboto;
    height: 40px;
    padding: 2px;
    border-left-width: 0px;
    border-top-width: 0px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    border-right-width: 0px;
    width: 380px;
}

h2{ 
    color: white;
    font-family: 'Poppins', sans-serif;
    bottom: 30px;
    margin-left: 170px;
}

.chat-box .chat{
    margin: 15px 0;
  }
  .chat-box .chat p{
    word-wrap: break-word;
    padding: 8px 16px;
    box-shadow: 0 0 32px rgb(0 0 0 / 8%),
                0rem 16px 16px -16px rgb(0 0 0 / 10%);
  }
  .chat-box .outgoing{
    display: flex;
  }
  .chat-box .outgoing .details{
    margin-left: auto;
    max-width: calc(100% - 130px);
  }
  .outgoing .details p{
    background: #333;
    color: #fff;
    border-radius: 18px 18px 0 18px;
  }
  .chat-box .incoming{
    display: flex;
    align-items: flex-end;
  }
  .chat-box .incoming img{
    height: 35px;
    width: 35px;
  }
  .chat-box .incoming .details{
    margin-right: auto;
    margin-left: 10px;
    max-width: calc(100% - 130px);
  }
  .incoming .details p{
    background: #fff;
    color: #333;
    border-radius: 18px 18px 18px 0;
  }